
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.FoodList {
  margin-left:500px; 
  margin-right: 50px;
 
}
.restaurantWrapper{
 
 
}
.header ul {
  position: absolute;
  height: 100%;
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: #333;
}
.header li {
}
.header a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
.header li a:hover {
  background-color: #111;
}


.inputdeneme{
  width: 40px;
  height: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
